publisher/workflows/n8n/reel_research_workflow.json
{
  "name": "Gen Z AI Tools - Daily YouTube Short Topic Finder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "node_r1_schedule",
      "name": "Schedule - Daily 6AM (disabled)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 200],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "node_r1b_manual",
      "name": "Manual Trigger - Run On Demand",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 460]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.reddit.com/r/ChatGPT+OpenAI+artificial+ArtificialInteligence+aitools+productivity+automation+SideProject/hot.json?limit=100&raw_json=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "node_r2_reddit",
      "name": "HTTP - Reddit AI Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 60],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "part", "value": "snippet" },
            { "name": "type", "value": "video" },
            { "name": "order", "value": "viewCount" },
            { "name": "maxResults", "value": "20" },
            { "name": "q", "value": "best AI tools 2026" },
            { "name": "publishedAfter", "value": "={{ new Date(Date.now() - 14 * 24 * 60 * 60 * 1000).toISOString() }}" },
            { "name": "key", "value": "={{ $env.YOUTUBE_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "node_r3_youtube_tools",
      "name": "HTTP - YouTube Best AI Tools",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 240],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "part", "value": "snippet" },
            { "name": "type", "value": "video" },
            { "name": "order", "value": "viewCount" },
            { "name": "maxResults", "value": "20" },
            { "name": "q", "value": "how to use AI tutorial" },
            { "name": "publishedAfter", "value": "={{ new Date(Date.now() - 14 * 24 * 60 * 60 * 1000).toISOString() }}" },
            { "name": "key", "value": "={{ $env.YOUTUBE_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "node_r4_youtube_howto",
      "name": "HTTP - YouTube AI How-To",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 420],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed/",
        "options": {}
      },
      "id": "node_r5_rss",
      "name": "RSS - TechCrunch AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [480, 600],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Reddit /hot.json -> normalized candidate list.\n// Tolerates a failed/blocked Reddit call (returns an empty list instead of crashing).\nconst res = ($input.first() && $input.first().json) || {};\nconst children = (res.data && res.data.children) || [];\nconst candidates = children\n  .map(c => c.data)\n  .filter(Boolean)\n  .map(d => ({\n    title: (d.title || '').trim(),\n    summary: (d.selftext || '').slice(0, 300),\n    url: 'https://www.reddit.com' + (d.permalink || ''),\n    source: 'reddit',\n    engagement: (d.ups || 0) + (d.num_comments || 0)\n  }));\nreturn [{ json: { candidates } }];"
      },
      "id": "node_r6_norm_reddit",
      "name": "Code - Normalize Reddit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 60]
    },
    {
      "parameters": {
        "jsCode": "// YouTube search -> normalized candidate list (used for both YouTube nodes).\nconst res = ($input.first() && $input.first().json) || {};\nconst items = (res.items) || [];\nconst candidates = items\n  .filter(it => it.id && it.id.videoId)\n  .map(it => ({\n    title: (it.snippet.title || '').trim(),\n    summary: (it.snippet.description || '').slice(0, 300),\n    url: 'https://www.youtube.com/watch?v=' + it.id.videoId,\n    source: 'youtube',\n    engagement: 0\n  }));\nreturn [{ json: { candidates } }];"
      },
      "id": "node_r7_norm_yt_tools",
      "name": "Code - Normalize YouTube Tools",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 240]
    },
    {
      "parameters": {
        "jsCode": "// YouTube search -> normalized candidate list (used for both YouTube nodes).\nconst res = ($input.first() && $input.first().json) || {};\nconst items = (res.items) || [];\nconst candidates = items\n  .filter(it => it.id && it.id.videoId)\n  .map(it => ({\n    title: (it.snippet.title || '').trim(),\n    summary: (it.snippet.description || '').slice(0, 300),\n    url: 'https://www.youtube.com/watch?v=' + it.id.videoId,\n    source: 'youtube',\n    engagement: 0\n  }));\nreturn [{ json: { candidates } }];"
      },
      "id": "node_r8_norm_yt_howto",
      "name": "Code - Normalize YouTube How-To",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 420]
    },
    {
      "parameters": {
        "jsCode": "// RSS feed items -> normalized candidate list\nconst items = $input.all();\nconst candidates = items\n  .map(i => i.json)\n  .filter(Boolean)\n  .map(a => ({\n    title: (a.title || '').trim(),\n    summary: (a.contentSnippet || a.content || '').slice(0, 300),\n    url: a.link || '',\n    source: 'news',\n    engagement: 0\n  }));\nreturn [{ json: { candidates } }];"
      },
      "id": "node_r9_norm_rss",
      "name": "Code - Normalize RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 600]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 4
      },
      "id": "node_r10_merge",
      "name": "Merge - All Candidates",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1040, 320]
    },
    {
      "parameters": {
        "jsCode": "// AI-how-to-fit scoring. Keeps only topics that teach the viewer one\n// concrete, usable thing about an AI tool (how to use it, or the best\n// tools for a task) and that collapse into a tight 30-45s YouTube Short.\n// Drops off-niche noise (stocks, crypto, politics).\n//\n// TOP_N controls how many Short drafts get created per run. Change freely.\nconst TOP_N = 5;\n\nconst all = [];\nfor (const item of $input.all()) {\n  for (const c of (item.json.candidates || [])) all.push(c);\n}\n\n// Mentions an AI tool / product\nconst TOOL = /(\\bai\\b|chatgpt|\\bgpt\\b|claude|gemini|grok|midjourney|sora|perplexity|notion ?ai|zapier|n8n|copilot|\\bllm\\b|ai agent|prompt|automation|deepseek)/i;\n// Frames it as something teachable\nconst HOWTO = /(how to|tutorial|guide|step|use\\b|using|set ?up|build|create|automate|workflow|hack|trick|\\btip(s)?\\b|best |top \\d)/i;\n// Has a concrete proof number (\"7 AI tools\", \"in 2 minutes\", \"10x\")\nconst NUM = /(\\d+\\s?(ai\\s?)?tools?|\\d+\\s?%|in\\s?\\d+\\s?(min|minute|sec|second|hour|day)|\\btop\\s?\\d+\\b|\\d+x\\b)/i;\n// Off-niche -> hard penalty\nconst OFF = /(stock market|crypto|bitcoin|invest|trading|election|politic|nsfw|onlyfans)/i;\n\nfunction score(c) {\n  const t = (c.title || '').trim();\n  const blob = (t + ' ' + (c.summary || '')).toLowerCase();\n  const words = t.split(/\\s+/).filter(Boolean).length;\n  let s = 0;\n  if (words >= 3 && words <= 16) s += 2;   // collapses into a hook line\n  if (TOOL.test(blob)) s += 3;             // actually about an AI tool\n  if (HOWTO.test(blob)) s += 3;            // teachable / actionable angle\n  if (NUM.test(blob)) s += 2;              // has a concrete proof number\n  if (words <= 12) s += 1;                 // short enough for on-screen text\n  if (c.engagement > 1000) s += 1;         // already proven to travel\n  if (OFF.test(blob)) s -= 5;              // off-niche -> drop\n  return s;\n}\n\nconst seen = new Set();\nconst scored = all\n  .filter(c => c && c.title && c.title.length > 12)\n  .map(c => ({ ...c, reel_fit: score(c) }))\n  .filter(c => {\n    const key = c.title.toLowerCase().slice(0, 50);\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  })\n  .filter(c => c.reel_fit >= 7)\n  .sort((a, b) => b.reel_fit - a.reel_fit)\n  .slice(0, TOP_N);\n\nif (scored.length === 0) {\n  return [{ json: { skip: true, title: 'NO_AI_TOPICS' } }];\n}\nreturn scored.map(c => ({ json: c }));"
      },
      "id": "node_r11_score",
      "name": "Code - Score AI-Fit & Pick Top",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond_not_skip",
              "leftValue": "={{ $json.skip === true }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ]
        },
        "options": {}
      },
      "id": "node_r12_if",
      "name": "IF - Has AI Topics?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1560, 320]
    },
    {
      "parameters": {
        "jsCode": "// Build a BARE Reels-tab row per surviving candidate.\n//\n// OpenAI is dead (quota gone), so this workflow does NOT draft the full reel\n// spec here. Instead it writes the MINIMUM the builder needs and lets the\n// builder self-fill everything (script, voiceover, captions, media) for free\n// on its next poll. This mirrors scripts/add_reel_topics_*.py.\n//\n// State: Status='Ready to Run' is Workflow B's trigger word, so each row is\n// claimed automatically. (The daily cap of one reel/day still applies\n// downstream in publish_due_reels.py.)\n\nconst BRAND_TONE = 'Gen Z AI-native energy. Practical, fast, no hype. Teaches young people how to actually use AI tools to work faster and smarter. Bold, direct, neon-green aesthetic, zero fluff. Every video leaves the viewer with something they can use today.';\n\nreturn $input.all().map(item => {\n  const c = item.json;\n  // Turn the raw candidate title into a clean topic string. Keep it short.\n  let topic = (c.title || '').trim().replace(/\\s+/g, ' ');\n  // Strip common clickbait prefixes/emoji-ish noise from source titles.\n  topic = topic.replace(/^[^A-Za-z0-9]+/, '').slice(0, 90).trim();\n\n  const keyPoints = (c.summary || '').toString().slice(0, 200).trim()\n    || 'Teach the viewer one concrete, usable AI trick from this topic.';\n\n  return {\n    json: {\n      'Topic': topic,\n      'Key Points': keyPoints,\n      'Brand Tone': BRAND_TONE,\n      'Enriched Context': `[auto-found] source=${c.source} fit=${c.reel_fit} ${c.url || ''}`.slice(0, 480),\n      'YouTube URL': c.source === 'youtube' ? (c.url || '') : '',\n      'Status': 'Ready to Run',\n      'Post Type': 'reel',\n      'Slide Content': 'reel',\n      'Reel Fit': c.reel_fit != null ? c.reel_fit : ''\n    }\n  };\n});"
      },
      "id": "node_r13_baserow",
      "name": "Code - Build Bare Reel Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 240]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13AEU80ULx2Lxnq9SWDeSSFN7unfhr-x_mPyi37oz7O4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Reels",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": ["Topic"]
        },
        "options": {}
      },
      "id": "node_r15_append",
      "name": "Google Sheets - Append Ready Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2340, 240]
    },
    {
      "parameters": {
        "jsCode": "// Runs once for ALL appended rows -> builds a single summary email.\n// Because the rows are written 'Ready to Run', Workflow B (the tweet-card reel\n// builder) claims them automatically on its next poll -- no manual step needed.\n// This email is just an FYI of what got queued.\nconst rows = $input.all().map(i => i.json).filter(Boolean);\nconst count = rows.length;\nconst sheetUrl = 'https://docs.google.com/spreadsheets/d/13AEU80ULx2Lxnq9SWDeSSFN7unfhr-x_mPyi37oz7O4/edit';\n\nconst list = rows\n  .map((r, i) => `${i + 1}. ${r.Topic || '(untitled)'}  [fit ${r['Reel Fit'] != null ? r['Reel Fit'] : '?'}]`)\n  .join('\\n');\n\nconst subject = `${count} new AI reel topic${count === 1 ? '' : 's'} queued (Ready to Run)`;\nconst body = `The Topic Finder just added ${count} topic${count === 1 ? '' : 's'} to the Reels tab as 'Ready to Run'.\\n\\n${list}\\n\\nThe reel builder (Workflow B) will pick these up automatically on its next poll and render them (capped to one reel/day downstream). No action needed from you.\\n\\nReels tab:\\n${sheetUrl}`;\n\nreturn [{ json: { subject, body, count } }];"
      },
      "id": "node_r16_summary",
      "name": "Code - Build Email Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 240]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "01cnl01@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "id": "node_r17_gmail",
      "name": "Gmail - Notify Topics Queued",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2860, 240]
    }
  ],
  "connections": {
    "Schedule - Daily 6AM (disabled)": {
      "main": [[
        { "node": "HTTP - Reddit AI Posts", "type": "main", "index": 0 },
        { "node": "HTTP - YouTube Best AI Tools", "type": "main", "index": 0 },
        { "node": "HTTP - YouTube AI How-To", "type": "main", "index": 0 },
        { "node": "RSS - TechCrunch AI", "type": "main", "index": 0 }
      ]]
    },
    "Manual Trigger - Run On Demand": {
      "main": [[
        { "node": "HTTP - Reddit AI Posts", "type": "main", "index": 0 },
        { "node": "HTTP - YouTube Best AI Tools", "type": "main", "index": 0 },
        { "node": "HTTP - YouTube AI How-To", "type": "main", "index": 0 },
        { "node": "RSS - TechCrunch AI", "type": "main", "index": 0 }
      ]]
    },
    "HTTP - Reddit AI Posts": {
      "main": [[{ "node": "Code - Normalize Reddit", "type": "main", "index": 0 }]]
    },
    "HTTP - YouTube Best AI Tools": {
      "main": [[{ "node": "Code - Normalize YouTube Tools", "type": "main", "index": 0 }]]
    },
    "HTTP - YouTube AI How-To": {
      "main": [[{ "node": "Code - Normalize YouTube How-To", "type": "main", "index": 0 }]]
    },
    "RSS - TechCrunch AI": {
      "main": [[{ "node": "Code - Normalize RSS", "type": "main", "index": 0 }]]
    },
    "Code - Normalize Reddit": {
      "main": [[{ "node": "Merge - All Candidates", "type": "main", "index": 0 }]]
    },
    "Code - Normalize YouTube Tools": {
      "main": [[{ "node": "Merge - All Candidates", "type": "main", "index": 1 }]]
    },
    "Code - Normalize YouTube How-To": {
      "main": [[{ "node": "Merge - All Candidates", "type": "main", "index": 2 }]]
    },
    "Code - Normalize RSS": {
      "main": [[{ "node": "Merge - All Candidates", "type": "main", "index": 3 }]]
    },
    "Merge - All Candidates": {
      "main": [[{ "node": "Code - Score AI-Fit & Pick Top", "type": "main", "index": 0 }]]
    },
    "Code - Score AI-Fit & Pick Top": {
      "main": [[{ "node": "IF - Has AI Topics?", "type": "main", "index": 0 }]]
    },
    "IF - Has AI Topics?": {
      "main": [
        [{ "node": "Code - Build Bare Reel Rows", "type": "main", "index": 0 }],
        []
      ]
    },
    "Code - Build Bare Reel Rows": {
      "main": [[{ "node": "Google Sheets - Append Ready Row", "type": "main", "index": 0 }]]
    },
    "Google Sheets - Append Ready Row": {
      "main": [[{ "node": "Code - Build Email Summary", "type": "main", "index": 0 }]]
    },
    "Code - Build Email Summary": {
      "main": [[{ "node": "Gmail - Notify Topics Queued", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "72266cf7104999cf4ca85f63c2ab37a3e4761c531fdaf0c90ee0d01f4616b5e6"
  }
}
