publisher/workflows/n8n/tweet_card_reel_workflow.json
{
  "name": "Gen Z AI Tools - Tweet-Card Reel Builder (Workflow B)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            { "mode": "everyMinute" }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "13AEU80ULx2Lxnq9SWDeSSFN7unfhr-x_mPyi37oz7O4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Reels",
          "mode": "name"
        },
        "event": "rowUpdate",
        "options": {
          "valueRender": "UNFORMATTED_VALUE"
        }
      },
      "id": "node_b1_trigger",
      "name": "Google Sheets Trigger - Row Updated",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond_status_ready_to_run",
              "leftValue": "={{ ($json['Status'] || '').toString().trim().toLowerCase() }}",
              "rightValue": "ready to run",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond_has_topic",
              "leftValue": "={{ ($json['Topic'] || '').toString().trim() }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "cond_not_carousel",
              "leftValue": "={{ ($json['Post Type'] || '').toString().trim().toLowerCase() }}",
              "rightValue": "carousel",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ]
        },
        "options": {}
      },
      "id": "node_b2_gate",
      "name": "IF - Status is Ready to Run",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300],
      "notes": "Only fires when a row's Status == 'Ready to Run' (trimmed, case-insensitive) AND it has a Topic AND its 'Post Type' is NOT 'carousel'. The Post Type filter matters because carousels share this same Reels tab; carousel rows are handled by the separate Carousel Builder workflow. 'Ready to Run' is the single GO signal; it is deliberately different from the terminal 'Ready to Post' so this every-minute trigger can never re-fire a finished reel into a loop."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a0", "name": "row_number", "value": "={{ $json.row_number || $json.__row || $itemIndex + 2 }}", "type": "number" },
            { "id": "a1", "name": "row_index", "value": "={{ $json.row_number || $json.__row || $itemIndex + 2 }}", "type": "string" },
            { "id": "a2", "name": "topic", "value": "={{ ($json['Topic'] || '').toString().trim() }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node_b3_extract",
      "name": "Set - Extract Row Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [760, 300],
      "notes": "Pull the sheet row number (1-indexed) so the build worker knows which row to render. The Topic is carried only for the failure-email and logs; the Python build re-reads everything it needs from the sheet itself."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13AEU80ULx2Lxnq9SWDeSSFN7unfhr-x_mPyi37oz7O4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Reels",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": ["row_number"],
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Status": "Building"
          }
        },
        "options": {}
      },
      "id": "node_b3b_claim",
      "name": "Sheets - Claim (Building)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1020, 300],
      "notes": "Loop guard: flip Status off 'Ready to Run' to 'Building' the moment we start, so the every-minute trigger can't fire a duplicate build while this one runs. The GitHub render worker sets the final Status ('Ready to Post' on success, 'Skipped - No Video' if no real clip is found, 'Render Failed' on error)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_REPO }}/dispatches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_PAT }}" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" },
            { "name": "User-Agent", "value": "n8n-tweet-card-reel" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"event_type\": \"build-tweet-card-reel\", \"client_payload\": { \"row_index\": \"{{ $json.row_index }}\" } }",
        "options": {}
      },
      "id": "node_b9_dispatch",
      "name": "HTTP - Trigger Render Worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1300, 300],
      "onError": "continueErrorOutput",
      "notes": "Fire the build-tweet-card-reel GitHub Action via repository_dispatch. The cloud worker does EVERYTHING else: self-finds media (keyless yt-dlp + brand scrape, demo-footage-first), REQUIRES a real video clip (skips the post if none is found - no still), renders the reel, uploads to Drive, and writes the final Status + Reel MP4 URL back to this row. If GITHUB_REPO/GITHUB_PAT use $env and your server blocks $env, paste the literal repo ('owner/repo') and a 'Bearer <PAT>' token directly here instead."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "88cnl88@gmail.com",
        "subject": "=Reel render dispatch failed (row {{ $json.row_index }})",
        "emailType": "text",
        "message": "=The GitHub dispatch failed for row {{ $json.row_index }} (topic: {{ $json.topic }}). Check Workflow B execution log. The row is left on 'Building' - reset it to 'Ready to Run' to retry.",
        "options": {}
      },
      "id": "node_b10_gmail_fail",
      "name": "Gmail - Notify Dispatch Failed",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1580, 420],
      "notes": "Only fires if the GitHub dispatch HTTP call itself errors (bad PAT, repo typo, GitHub down). A normal build that ends in 'Skipped - No Video' is NOT a dispatch failure and will not email."
    }
  ],
  "connections": {
    "Google Sheets Trigger - Row Updated": {
      "main": [[{ "node": "IF - Status is Ready to Run", "type": "main", "index": 0 }]]
    },
    "IF - Status is Ready to Run": {
      "main": [
        [{ "node": "Set - Extract Row Fields", "type": "main", "index": 0 }],
        []
      ]
    },
    "Set - Extract Row Fields": {
      "main": [[{ "node": "Sheets - Claim (Building)", "type": "main", "index": 0 }]]
    },
    "Sheets - Claim (Building)": {
      "main": [[{ "node": "HTTP - Trigger Render Worker", "type": "main", "index": 0 }]]
    },
    "HTTP - Trigger Render Worker": {
      "main": [
        [],
        [{ "node": "Gmail - Notify Dispatch Failed", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "72266cf7104999cf4ca85f63c2ab37a3e4761c531fdaf0c90ee0d01f4616b5e6",
    "notes": "Workflow B (SIMPLIFIED 2026-06-04). The Python build worker now self-finds its own media (keyless, demo-footage-first) and requires a real video clip, so n8n no longer needs to search YouTube / scrape blogs / score candidates / merge. That whole branch is removed - which also eliminated the '$env YouTube key blocked', Merge-config, and 'can't find YouTube URL' problems. n8n's only job now: on a 'Ready to Run' row, claim it to 'Building' and fire the GitHub render dispatch. Everything else (find media, require video, skip if none, render, upload, final Status) happens in GitHub Actions. The old full search version is in git history if ever needed."
  }
}
